nav {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  text-decoration: none;
}

nav a:hover {
  background-color: #8182D8 /*light purple*/;
}

nav .link__active {
  background-color: #8182D8 /*light purple*/;
}
